.ItemDetailContainer {
    display: flex;
    justify-content: center;
}

.imgItemDetail {
    width: 300px;

}

.ItemDetail {
    display: flex;
    flex-direction: column;
    justify-content: center;
}