.cartWidget {
    display: flex;
    align-items: center;
    color: #fddc5b;
    transition: 300ms;
}

.cartWidget:hover {
    transform: scale(1.1);
}

.cartWidget .cartCounter {
    display: inline;
    margin-left: 8px;
}

.cartCounterNone {
    display: none;
}