.navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(10, 10, 10);
    padding: 16px 10%;
}

.NavLink {
    
}

.logoHeader {
    display: inline;
}

.logoHeader p {
    display: inline;
    color: white;
    font-size: 20px;
}