.navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1f1f1f;
    padding: 16px 10%;
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    z-index: 10;
}

.NavLink {
    color: white;
    transition: 300ms;
}

.NavLink:hover {
    color: #fddc5b;
    transform: translateY(-4px);
}

.siteLogo {
    font-size: 36px;
    margin-bottom: 8px;
}

.siteTitle {
    font-size: 20px;    
}

.logoContainer {
    color: #fddc5b;
    display: flex;
    align-items: center;
    transition: 300ms;
}

.logoContainer:hover {
    transform: scale(1.1);
}

.mainMenu {
    display: flex;
    gap: 32px
}