.ItemCount {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    border: solid 2px rgb(190, 190, 190);
    border-radius: 4px;
    margin: 24px;
    width: 220px;
}

.counter {
    display: inline;
    font-size: 20px;
    margin: 0;
}

.button {
    background-color: rgb(29, 29, 29);
    border: none;
    border-radius: 50%;
    font-size: 20px;
    color: white;
    height: 32px;
    width: 32px;
    padding: 0px;
}

.addToCart {
    background-color: rgb(39, 39, 39);
    border: none;
    font-size: 20px;
    color: white;
    height: 32px;
    width: 100%;
    padding: 0px;
    margin-top: 16px;
}

.disabled {
    background-color: rgb(206, 206, 206);
    color: rgb(238, 238, 238);
}