.itemCountContainer {
    width: 160px;
}

.ItemCount {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    border: solid 1px rgb(190, 190, 190);
    border-radius: 4px;
    padding: 4px;
}

.counter {
    display: inline;
    font-size: 20px;
    margin: 0;
}

.counterButton {
    background-color: white;
}

.addToCart {
    background-color: #FDDC5B;
    border: none;
    font-size: 16px;
    color: white;
    padding: 8px;
    margin-top: 4px;
    border-radius: 16px;
    transition-duration: 300ms;
    width: 160px;
}

.addToCart:hover {
    transform: scale(1.05);
}

.disabled {
    background-color: rgb(206, 206, 206);
    color: rgb(238, 238, 238);
}